@font-face {
  font-family: 'Comic Mono';
  src: url('ComicMono-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html,body {
  font-family:'Comic Mono';
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

#maCanvas {
  width: 100%;
  height: 100%;
  touch-action: none;
  display:none
}

body {
  background-image: url('Background.png');
  background-size: cover; /* Makes sure it covers the whole screen */
  background-position: center;
  background-repeat: no-repeat;
}
.button-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #39db34;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    justify-content: center;
}

.button-link:hover {
  background-color: #29b948;
}

#loading {
  font-size: large;
}

#buttons {
  width: 30%;
  display: none;
  flex-direction: column;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

a {
    font-size: 20px;
    margin: 10px;
    size: 30px;
}

#game {
  display: grid;
  place-items: center;
}

#loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
}

#pauseButton {
  position: absolute;
  top: 5%;
  left: 95%;
  display: none;
}

#pauseMenu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 45%;
  aspect-ratio: 1 / 1;
  background-size: cover; /* Makes sure it covers the whole screen */
  background-position: center;
  background-repeat: no-repeat;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#resumeButton, #resetButton {
  background-color: black;
}

#dialogue {
  padding:5%;
  width: auto;
  height: auto;
  max-height: 100%;
  max-width: 90%;
  box-sizing: border-box;
  border: 10px solid  rgb(255, 243, 106);
  background-color: rgb(255, 255, 213);
  margin: 2%;
  border-radius: 50px;
  align-items: center;
  display: flex
}

a:hover {
  cursor: pointer;
}

#photo {
  position: relative;
  width: 16rem;
  height: 16rem;
}

#nomPnj {
  position: absolute;
  left: 20rem;
  top: 5px;
  z-index: 1000;
  box-sizing: border-box;
  border: 5px solid rgb(255, 243, 106);
  background-color: rgb(255, 255, 213);
  border-radius: 50px;
  font-family:'Comic Sans MS', 'Comic Sans, cursive';
  padding: 20px;
  height: 50px;
  display: flex;
  align-items: center;
}

#dialogContainer {
  position: absolute;
  display: none;
  flex-direction: row;
  top: 70%;
  left: 5%;
  width: 94.5%;
  height:fit-content;
  max-height: 25%;
}

#loadingImage {
  width: 200px;
  height: 200px;
  position: relative;
  top: 4rem;
  left: 50%;
  transform: translate(-50%, -50%);
}

#notif {
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    pointer-events: none; /* Pour que le clic passe à travers */
    transition: opacity 0.5s ease-in-out;
    z-index: 1000;
    display: none;
}

#notif {
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    pointer-events: none; /* Pour que le clic passe à travers */
    transition: opacity 0.5s ease-in-out;
    z-index: 1000;
    display: none;
}
#eau,#engrais,#soleil{
  position: relative;
  width: 6rem;
  height: 6rem;
}
#missions {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    flex-direction: row;
    gap: -4px;
    z-index: 1000;
    display: none;
}
#hautgauche{
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
}
#fin{
  left: 30px;
}