html,body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

#maCanvas {
  width: 100%;
  height: 100%;
  touch-action: none;
  display:none
}

body {
  background-image: url('Background.png');
  background-size: cover; /* Makes sure it covers the whole screen */
  background-position: center;
  background-repeat: no-repeat;
}
.button-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #39db34;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    justify-content: center;
}

.button-link:hover {
  background-color: #29b948;
}

#loading {
  font-size: large;
}

#buttons {
  width: 30%;
  display: none;
  flex-direction: column;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

a {
    font-size: 20px;
    margin: 10px;
    size: 30px;
}

#game {
  display: grid;
  place-items: center;
}

#loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
}

#pauseButton {
  position: absolute;
  top: 5%;
  left: 95%;
  display: none;
}

#pauseMenu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 45%;
  aspect-ratio: 1 / 1;
  background-size: cover; /* Makes sure it covers the whole screen */
  background-position: center;
  background-repeat: no-repeat;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#resumeButton, #resetButton {
  background-color: black;
}

#dialogue {
  display: none;
  position: absolute;
  bottom: 10%;
  padding:3%;
  border: 5px solid  rgb(0, 0, 0);
  background-color: rgb(255, 255, 243);
  font-family:'Comic Sans MS', 'Comic Sans, cursive';
}